* {
  box-sizing: border-box;
}

body {
  background-color: #12232e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
}
.movie-container {
  margin: 20px 0;
}
.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
}
.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  color: #777;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}
.seat {
  height: 12px;
  width: 15px;
  background-color: #fff;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.row {
  display: flex;
}

.seat.occupied {
  background-color: #00ffff;
}
.seat.selected {
  background-color: #ffa500;
}
.seat:nth-child(2) {
  margin-right: 18px;
}

.seat:nth-last-child(2) {
  margin-left: 18px;
}
.seat:not(.occupied):hover {
  transform: scale(1.2);
  cursor: pointer;
}
.showcase .seat:not(.occupied):hover {
  transform: scale(1);
  cursor: default;
}
span {
  color: #ffa500;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.container {
  perspective: 1000px;
  margin-bottom: 30px;
}
